@model NguyenMinhThang.Models.Order

<h2>Order Completed</h2>

<p>Your order with ID @Model.Id has been placed successfully.</p>

<div>
    <a asp-action="Index" asp-controller="Product">Về trang chủ</a>
</div>